<!-- row -->
<div class="row">
	 <!-- col-md-6 col-md-offset-3 -->
	 <div class="col-md-6 col-md-offset-3">
	 	 <!-- panel panel-success -->
	 	 <div class="panel panel-success">
	 	 	 <!-- panel-heading -->
	 	 	 <div class="panel-heading">
				<h1>Editing Company</h1>
			 </div>
			 <div class="panel-body">

				<%= render 'form' %>

				<%= link_to 'Show', @company %> |
				<%= link_to 'Back', companies_path %>
				
				</div><!-- /panel-body -->
	 	 </div><!-- /panel panel-success -->
	 </div><!-- /col-md-6 col-md-offset-3 -->
</div><!-- /row -->
